
body{
    margin:0;
    background:#0b1220;
    font-family:Arial,sans-serif;

    display:flex;
    justify-content:center;
    align-items:center;

    height:100vh;

    color:white;
}

.account-box{

    width:420px;

    background:#17263d;

    border:2px solid #4ea8ff;

    border-radius:20px;

    padding:35px;

    text-align:center;

    box-shadow:0 0 20px rgba(78,168,255,.2);
}

.logo{
    width:90px;
    margin-bottom:15px;
}

input{

    width:100%;

    padding:14px;

    margin-top:15px;

    border-radius:10px;

    border:none;

    box-sizing:border-box;

    font-size:16px;
}

button{

    width:100%;

    margin-top:20px;

    padding:14px;

    border:none;

    border-radius:12px;

    background:linear-gradient(90deg,#4ea8ff,#0077ff);

    color:white;

    font-size:16px;

    font-weight:bold;

    cursor:pointer;
}

button:hover{

    transform:scale(1.02);
}

#message{

    margin-top:18px;

    font-weight:bold;
}